@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* modifyers */
.center {
    margin:auto;
}
.player-colors {
    border-color: red;
    background-color: #ffd7d7 ;
}
.computer-colors {
    border-color: green;
    background-color:#dde8cb;
}
.main-box {
    border-width: thick;    
    border-style: solid;
}

/* Global style */
html {
    font-family: 'Audiowide', cursive;
    color:black;
    max-width:80vw;
}
/* Game-Tytle layout */
#title-area {
    background-color:dodgerblue;
    font-family: 'Audiowide', cursive;
    font-size: xx-large;
    color:yellow;
    text-align: center;
    vertical-align: middle;
    border-width:thick;
    border-style: solid;
    border-bottom: 0;
    border-color: blue;
    padding:0;
    height:10vh;
}

#title-area.h1{
    margin:0;
}
/* Game-Arena layout  */
#arena-area {
}
/* Information pannel layout */
#pannel {
    background-color:dodgerblue;
    /*border: thick solid blue;*/
}
#area-player {
    border: thick solid red;
}

/* Game-Rules layout */
#rules-area{
    background-color:beige;

}
